appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
dateutils==0.6.12
Django==3.1.7
django-sendgrid-v5==0.9.1
django-smtp-ssl==1.0
fake-useragent==0.1.11
feedparser==6.0.2
future==0.18.2
idna==2.10
lxml==4.6.3
nasdaq-stock==0.0.3
nsetools==1.0.11
numpy==1.20.2
pandas==1.2.3
parse==1.19.0
psycopg2-binary==2.8.6
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
python-decouple==3.4
python-http-client==3.3.2
pytz==2021.1
requests==2.25.1
requests-html==0.10.0
secure-smtplib==0.1.1
sendgrid==6.6.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
starkbank-ecdsa==1.1.0
tqdm==4.59.0
urllib3==1.26.4
w3lib==1.22.0
websockets==8.1
yahoo-fin==0.8.8