{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}

<div class="bg-img">
            <div class="error_message">
                    {% for message in messages %}
                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                                {{ message }}

                            </div>
                    {% endfor %}

              </div>
      <div class="content">
        <header>Sign Up</header>

          <!--{% if form.errors %}-->
							<!--{% for field in form %}-->
								<!--{% for error in field.errors %}-->
									<!--<p> {{ error }} </p>-->
								<!--{% endfor %}-->
							<!--{% endfor %}-->
						<!--{% endif %}-->

        <form method="POST" action="">
                        {% csrf_token %}
          <div class="field">
            <span class="fa fa-user"></span>
            {{form.username}}
          </div>

            <div class="field space">
            <span class="fa fa-envelope"></span>
               {{form.email}}
            <span class="show">SHOW</span>
          </div>

           <div class="field space">
            <span class="fa fa-lock"></span>
               {{form.password1}}
            <span class="show">SHOW</span>
          </div>
            <div class="field space">
            <span class="fa fa-lock"></span>
            {{form.password2}}
            <span class="show">SHOW</span>
          </div>


<div class="pass">
            <a href="#">Forgot Password?</a>
          </div>
<div class="field">
            <input type="submit" value="Register Account">
          </div>
</form>
<br>
<div class="signup">
Already have an account?
          <a href="{% url 'login' %}">Login Now</a>
        </div>
</div>
</div>


{% endblock %}




