<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title> ETimes Media | India's Best Equity Research Firm </title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="equity research firms, equity research company in india, research on share market" />
        <meta name="description" content="The top equity research firm in India, we offer stock market research services thus helping investors with the best investment opportunities.
        " />
        {% if exchange == 'nse' %}
        <meta name="description" content="Subscribe to learn more about daily/monthly NSE reports to stay updated and invest wisely with ETimes Media! " />
        <meta name="keywords" content="equity research firms, equity market research, equity research company in india, nse india, national stock exchange, nse stock, indian stock exchange, bse nse live " />
        <meta name="author" content="" />
        <title>Get Daily Updated NSE Reports - ETimes Media</title>
        {% elif exchange == 'bse' %}
        <meta name="description" content="Subscribe to learn more about daily/monthly BSE reports to stay updated and invest wisely with ETimes Media!" />
        <meta name="keywords" content="equity research firms, equity market research, equity research company in india, nse india, bombay stock exchange, bse stock, indian stock exchange, bse nse live" />
        <meta name="author" content="" />
        <title>Get Daily Updated BSE Reports - ETimes Media</title>
        {% elif exchange == 'nasdaq' %}
        <meta name="description" content="Subscribe to learn more about daily/monthly NASDAQ reports to stay updated and invest wisely with ETimes Media!" />
        <meta name="keywords" content="equity research firms, equity market research, equity research canada, top stock research websites, investing in equities, nasdaq" />
        <meta name="author" content="" />
        <title>Get Daily Updated NASDAQ Reports - ETimes Media</title>
        {% elif exchange == 'tsx' %}
        <meta name="description" content="Subscribe to learn more about daily/monthly TSX reports to stay updated and invest wisely with ETimes Media!" />
        <meta name="keywords" content="equity research firms, equity market research, equity research canada, top stock research websites, investing in equities, tsx, toronto stock exchange" />
        <meta name="author" content="" />
        <title>Get Daily Updated TSX Reports - ETimes Media</title>
        {% elif exchange == 'nyse' %}
        <meta name="description" content="Subscribe to learn more about daily/monthly NYSE reports to stay updated and invest wisely with ETimes Media!" />
        <meta name="keywords" content="equity research firms, equity market research, equity research canada, top stock research websites, investing in equities, nyse, new york stock exchange" />
        <meta name="author" content="" />
        <title>Get Daily Updated NYSE Reports - ETimes Media</title>
        {% endif%}
        <link rel="icon" href="{% static 'edlyne_times/assets/img/et_logo.png' %}" sizes="32x32" type="image/png">




        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- Latest compiled and minified CSS -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">


        {% load static %}
        <link rel="stylesheet" href="{% static 'edlyne_times/css/utils.css' %}">
        <link rel="stylesheet" href="{% static 'edlyne_times/css/styles.css' %}">
            <!-- Global site tag (gtag.js) - Google Analytics -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CNNV7S2BG7"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-CNNV7S2BG7');
        </script>
        <link rel="canonical" href="https://etimesmedia.com/about/">
    </head>
    <body id="page-top">

    <div class="bg_image">

<header class="px-2 py-3 py-lg-0 px-sm-0 header" id="main_header">
      <div class="container">
        <div class="row align-items-center justify-content-between inner-menu-container">
          <a href="{% url 'index' %}" title="Site Logo" class="header-logo d-block">
            <img class="logo" src="{% static 'edlyne_times/assets/img/et_logo.png' %}" alt="image1">

          </a>
          <nav class="d-none d-lg-block">
            <ul class="main-menu d-flex flex-column flex-lg-row align-items-lg-center list-unstyled p-0 m-0">
              <li class="">
                <a href="{% url 'index' %}" class="d-block" title="Home">
                  <span>Home</span>
                </a>
              </li>
              <li class="">
                <a href="{% url 'about' %}" class="d-block" title="About">
                  <span>About Us</span>
                </a>
              </li>
              <li >
                  <a href="#" class="d-block submenu-mobile" title="Reports">
                      <span>Market Research</span></a>
                   <div class="dropdown">
                                <button class="dropbtn">Market Research
                                  <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                   <div class="row">
                                       <div class="col-lg-2 col-md-2 col-sm-2 col-10 submenu-items">
                                           <a href="{% url 'products' 'nse' %}">
                                            <img src="{% static 'edlyne_times/assets/img/nse.png' %}" alt="Img">
                                               <p class="submenu-inner-heading">NSE REPORTS</p>
                                               </a>
                                       </div>
                                       <div class="col-lg-2 col-md-2 col-sm-2 col-10 submenu-items">
                                           <a href="{% url 'products' 'bse' %}">
                                            <img src="{% static 'edlyne_times/assets/img/bse1.png' %}" alt="Img">
                                               <p class="submenu-inner-heading">BSE REPORTS</p>
                                               </a>


                                       </div>

                                       <div class="col-lg-2 col-md-2 col-sm-2 col-10 submenu-items">
                                           <a href="{% url 'products' 'nyse' %}">
                                            <img src="{% static 'edlyne_times/assets/img/nyse.jpeg' %}" alt="Img">
                                                <p class="submenu-inner-heading">NYSE REPORTS</p>
                                               </a>
                                       </div>


                                       <div class="col-lg-2 col-md-2 col-sm-2  col-10 submenu-items">
                                           <a href="{% url 'products' 'nasdaq' %}">
                                            <img src="{% static 'edlyne_times/assets/img/nasdaq1.png' %}" alt="Img">
                                                <p class="submenu-inner-heading">NASDAQ REPORTS</p>
                                               </a>

                                       </div>

                                        <div class="col-lg-2 col-md-2 col-sm-2  col-10 submenu-items ">
                                           <a class="last-submenu-item" href="{% url 'products' 'tsx' %}">
                                            <img src="{% static 'edlyne_times/assets/img/tsx.jpg' %}" alt="Img">
                                                <p class="submenu-inner-heading">TSX REPORTS</p>
                                               </a>

                                       </div>

                                   </div>


                                </div>
                              </div>
                <ul class="sub-menu list-unstyled p-0 m-0">

                    <li>
                        <a href="{% url 'products' 'nse' %}" class="d-block">
                           <span class="">NSE REPORTS</span>
                           </a>
                    </li>
                    <li>
                        <a href="{% url 'products' 'bse' %}" class="d-block">
                           <span class="">BSE REPORTS</span>
                           </a>
                    </li>
                    <li>
                        <a href="{% url 'products' 'nyse' %}" class="d-block">
                           <span class="">NYSE REPORTS</span>
                           </a>
                    </li>
                    <li>
                        <a href="{% url 'products' 'nasdaq' %}" class="d-block">
                           <span class="">NASDAQ REPORTS</span>
                           </a>
                    </li>
                    <li>
                        <a href="{% url 'products' 'tsx' %}" class="d-block">
                           <span class="">TSX REPORTS</span>
                           </a>
                    </li>
                </ul>

              </li>
              <li class="">
                <a href="{% url 'services' %}" class="d-block" title="Services">
                  <span>Our Services</span>
                </a>
              </li>
              <li>
                <a href="{% url 'post' %}" class="d-block" title="News">
                  <span>News</span>
                </a>
              </li>
              <li>
                <a href="{% url 'contact' %}" class="d-block" title="Contact">
                  <span>Contact Us</span>
                </a>
              </li>
              <li>
                <a href="{% url 'register'%}" class="d-block" title="Register">
                  <span>Register</span>
                </a>
              </li>
            </ul>
          </nav>
          <div id="call-action" class=" d-lg-flex align-items-center">
            <!--<a href="#" title="Call Now" class="d-none d-lg-inline-block call-action">Call Now</a>-->
              <div class="login_section ">


                    {% if user.is_authenticated %}
                    <input id="check01" type="checkbox" name="menu" />
                        <label for="check01" class="dropdown-toggle">
                                <span class="caret"></span>
                            <span class="user_profile_section">Hello, <span class="username caret">{{ user.username }}</span></span>
                        </label>
                        <ul class="submenu">
                          <li><a href="{% url 'logout' %}">Logout</a></li>

                        </ul>
                    <!--<div class="navigation">-->

                        <!--<a class="button" href="">-->
                        <!--<img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">-->

                      <!--<div class="logout">LOGOUT</div>-->

                        <!--</a>-->

                    <!--</div>-->

                        {% else %}
                    <a href="{% url 'login' %}"><button type="submit" class="btn" id="login-btn">Sign In</button></a>
                        {% endif %}
                </div>
          </div>
          <div
            class="side-menu-close d-flex d-lg-none flex-wrap flex-column align-items-center justify-content-center ">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
</header>

<!-- side menu start -->
    <div class="side-menu-wrap ">
      <a href="{% url 'index' %}" title="Site Logo" class="side-menu-logo d-block py-3">
                    <img class="logo" src="{% static 'edlyne_times/assets/img/et_logo.png' %}" alt="image1">
      </a>
      <nav class="side-menu-nav">
        <!-- auto generated side menu from top header menu -->
      </nav>
      <div class="side-menu-close d-flex flex-wrap flex-column align-items-center justify-content-center">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- side menu end -->


    </div> <!--bg.image ends here-->
<div class="clear"></div>
<br>
<br>
<br>
    <!-- Page Content -->
    <div class="page-heading about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-left">About Us</h4>
            <h1 class="text-left ">World's Leading Equity Research Firm </h1>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-0"></div>
                <div class=" col-md-8 ">
                  <div class="right-content">
                    <h2>Our <em>Story</em></h2>
                      <p class="about-first-child">Our story begins with you.</p>
                        <p>
                            For over years, ETimes Media has been helping people build their financial futures and live more generous lives. Our focus starts with your needs & goals. ETimes Media works to create an intelligent solution for your financial needs. From the cash, you spend today to the money you save for tomorrow; we at ETimes Media craft a professional journey for you. We work intending to help an individual in managing and distributing the capital so that they can achieve their financial goals.
                        </p>
                        <p>
                           The story of ETimes Media is one of the progressions. With the aim to introduce corporate culture we are working every beat to achieve a seamless system.
                        </p>
                      <p>Our journey wasn’t easy and coherent; we worked hard each day to reach this epitome. It started with three energetic & innovative minds and today we have the support of above hundred young novel minds.
</p>
                            <p>With years of experience, our financial experts help you to shape global financial technology.
</p>
                  </div>
                </div>

                <!--<div class="col-md-6">-->
                  <!--<div class="left-image">-->
                    <!--<img src="{% static  'edlyne_times/assets/images/aboutimage.png' %}" alt="">-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our team <em>members</em></h2>
              <span>We are a team of more than 500 collaborators in 9 offices worldwide</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="{% static 'edlyne_times/assets/images/pfp.png' %}" alt="">
              <div class="down-content">
                <h4>Mr. Gowhar Bashir</h4>
                <span>Chairman  ETimes Media</span>
                <p>Gowhar Bashir founded ETimes Media with a vision to offer financial services that are both top-of-the-range and accessible to the general masses. He has an indisputable reputation for working relentlessly and with devotion.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="{% static 'edlyne_times/assets/images/pfp.png' %}" alt="">
              <div class="down-content">
                <h4>Mr. Aleem Hamid</h4>
                <span>Director ETimes Media</span>
                <p>
                    Aleem Hamid has experience of 15+ years, making him a valuable asset to ETimes Media.
                    His guidance and support have helped us in achieving the unachievable directing ETimes media
                    towards the skies and further.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="{% static 'edlyne_times/assets/images/pfp.png' %}" alt="">
              <div class="down-content">
                <h4>Mr. Bariq Wani </h4>
                <span>Director ETimes Media</span>
                <p>
                    With years of experience, Mr. Bariq Wani is a connoisseur when it comes to investments, equity research,
                    and analyzing financial data. He has directed ETimes Media towards success by dealing remarkably with clients.
                </p>
              </div>
            </div>
          </div>
           </div>



      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-0"></div>
                <div class=" col-md-8 ">
                  <div class="right-content">
                    <h2>The <em>Team</em></h2>
                      <p class="about-first-child">We are the leading <a href="https://etimesmedia.com/">equity research firm </a>who follow the client-centric approach by thinking about their needs and welcoming their feedbacks.</p>
                        <p>
                            We are a team of 40+ creative, innovative professionals who can infuse their creativity into groundbreaking stock research, and who can analyze data to optimize every tactic along the way.
                        </p>
                        <p>
                        Our team knows what it takes to build a secure & compliant platform that you can trust. With deep expertise and a girth of experience in financial services, we are mindful of providing the customer with the correct regulatory framework for our services. We are delighted to have an exceptional research team who monitor the equity market for you and helps you to grow by giving the best recommendations ever.
                        </p>
                                <p>
                                Our team is with you throughout the cycle. We keep you updated by providing everyday updates.

</p>
                  </div>
                </div>

                <!--<div class="col-md-6">-->
                  <!--<div class="left-image">-->
                    <!--<img src="{% static  'edlyne_times/assets/images/aboutimage.png' %}" alt="">-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="howitworks ">
        <div class="container">
            <h2>How we <em>work?</em></h2>
        <div class="row">
            <div class="col-md-4">
                      <p class="">

                        Our platform builds adaptive, flexible and efficient space for your stock needs. We do all this by providing outstanding general investing guidance.

                      </p></div>
            <div class="col-md-4">

                <p>
                    <b>Client priority:</b> We are client centric organization where your feedback is welcomed.</p>
                <p><b>Ownership:</b> Our employees work for the betterment of organization.</p>
                <p>
                    <b>Collaborate:</b> The success of our company is the result of our collective contributions.
                </p>

            </div>
            <div class="col-md-4">

                    <p>
                        <b>Drive for Results:</b> Our goal is to is to achieve the best results <p>
                <p><b>Innovate and Simplify: </b>We are focused to create innovative solutions to your needs.</p>

                </p>
            </div>
        </div>
    </div>
    </div>

       <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Top Market Research Company</span>
              <h2>Why Us? Our Solutions for Your <em>Financial Growth</em> </h2>
              <>
                    We believe in treating your money as an investment in the future you want to create. We believe that investing in great businesses, for the long term, is the most effective path to wealth
                  <br><br>
                  One of the best <a href="https://etimesmedia.com/accounts/contact/">market research companies</a>, ETimes Media is committed to excellence in partnerships, excellence in service and excellence in performance. We believe in keeping score and being transparent in our stock recommendation performance. We strive to fulfill our purpose by truly serving every community. We provide a variety of solutions to improve many areas of your financial life, including your list of existing holdings.
              <br>
                <br>
                  We are here to assist you. Consider us your partner in navigating this rewarding world of global investing.
              <br>
                  Let’s go own the world. Call us today!

              </p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row" id="counter">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="945">200</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="1280">500</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="3956">2500</div>
                  <div class="count-title">Reports Done</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="945">900</div>
                  <div class="count-title">Subscribers</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="clear"></div>
     <!--Footer-->
    <footer class="footer">
        <div class="container top-footer">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-10 col-12">
                    <h5>Edlyne Times</h5>
                    <p>
                        ETimes Media is the one of the leading independent equity research companies focusing on helping its clients to improve their investment results through unbiased technology-powered research.
                        We, being one of the best equity research firms, have a proven track record and are trusted by many investors for the success of their financial goals unlike a commission-based model where an investor’s interest is often ignored.

                    </p>
                </div>
                <div class="col-lg-2 col-lg-offset-1  col-md-offset-1 col-md-2 col-sm-10 col-12">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'post' %}">Blog</a></li>
                        <li><a>Press</a></li>
                        <li><a>Careers</a></li>
                    </ul>
                </div>
                <!--<div class="col-lg-2 col-md-2 col-sm-10 col-12">-->
                    <!--<h5>Services</h5>-->
                    <!--<ul>-->
                        <!--<li><a>Publisher</a></li>-->
                        <!--<li><a>Gateway</a></li>-->
                        <!--<li><a>Research</a></li>-->
                        <!--<li><a>Tickertape</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <div class="col-lg-2 col-md-2 col-sm-10 col-12">
                    <h5>Information</h5>
                    <ul>
                        <li><a>Legal Policy</a></li>
                        <li><a>Disclosures</a></li>
                        <li><a>Privacy</a></li>
                        <li><a>Complaints</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row medium-footer">
                <div class="col-lg-5 col-md-4 col-sm-10 col-12"><p>Copyright @ 2021, Design by Edlyne Times<br></br></p></div>
                <div class="col-lg-4 col-md-4 col-sm-10 col-12"><p>Contact us on info@etimesmedia.com</p>
                <div class="social_icons">
                    <a href="https://www.facebook.com/etimesmedia/" class="fa fa-2x fa-facebook"></a>
                    <a href="https://twitter.com/etimesm" class="fa fa-2x fa-twitter"></a>
                    <a href="https://www.instagram.com/etimesmedia/" class="fa fa-2x fa-instagram"></a>
                    <a href="https://www.linkedin.com/company/etimes-media/" class="fa fa-2x fa-linkedin"></a>
                    <a href="https://www.youtube.com/channel/UCJaHIoSMKLGtthFA4AqR0Vg" class="fa fa-2x fa-youtube"></a>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-10 col-12"><p>Help & Support</p></div>
            </div>
        </div>
            <!--<div class="bottom-footer ">-->
                        <!--<h6>Copyright @ 2021, Design by Edlyne Times.</h6>-->
             <!--</div>-->
    </footer>











          <!-- Bootstrap core JS-->
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Popper JS -->

<!-- Latest compiled JavaScript -->
    <script src="{% static 'edlyne_times/js/scripts.js' %}"></script>

    <script src="{% static 'edlyne_times/js/parallax.min.js' %}"></script>
    <script src="{% static 'edlyne_times/js/custom.js' %}"></script>
    <script src="{% static 'edlyne_times/js/slick.js' %}"></script>


    </body>
</html>
