{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}
<div class="clear"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
 <div class="col-lg-12 col-md-12 col-10 col-sm-10">
                                        <table class="table table-striped stock-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Exchange </th>
                                                  <th scope="col">Action </th>
                                                </tr>
                                              </thead>
                                              <tbody class="">
                                            {% for i in range %}
                                                <tr class="losers">
                                                  <td>{{i.name}}</td>
                                                  <td>{{i.exchange }}</td>
                                                    <td><a href="{% url 'reports' i.slug  %}?dept_id=10"><gold></gold></a></td>

                                                  <td><i class="fa fa-eye" aria-hidden="true"></i><a href="{% url 'reports' i.slug %}"> View Report</a></td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
    </div>
    </div>

{% endblock %}