{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}

<div class="main-wrapper">

        <section class="video_section">
            <div class="container video_overlay text-center text-white">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-12">
                            <h2 class="headline">HOW TO GET STARTED WITH INVESTING</h2>
                            <h2>Stock investing made easy</h2>
                            <button class="btn btn-warning text-white btn-lg subscribe-btn">SUBSCRIBE</button>
                         </div>

                    <div class="col-lg-6 col-md-6 col-sm-10 col-12 video_right_section">
                        <!--Text Block 1-->
                              <div class="text-block1">
                                <i class="fa fa-line-chart fa-3x text-white icons"></i>
                                <h4>NIFTY50</h4>
                                <p>sunrise</p>
                              </div>

                               <div class="text-block2">
                                <h3>1200K</h3>
                                <i class="fa fa-circle-o-notch fa-3x text-white" aria-hidden="true"></i>
                                <p>Subscribers</p>
                              </div>

                    </div>
                  </div>
            </div>


            <div class="video_container">
            <video autoplay loop muted poster="" id="mainvideo">
            <source src="{% static 'edlyne_times/assets/video/home_video.mp4' %}" type="video/mp4">
            </video>
             </div>
        </section>






    <!--section first content-->
    <section class="first_content_wrapper">
        <div id="tabs-bar">
    <ul id="tabs-nav">
        <li><a href="#th-tab-one" class="current">NASDAQ</a></li>
        <li><a href="#th-tab-two">NYSE</a></li>
        <li><a href="#th-tab-three">TSX</a></li>
        <li><a href="#th-tab-four">BSE</a></li>
        <li><a href="#th-tab-five">NSE</a></li>
    </ul>
    <div style="clear:both;"></div>
</div>
<!-- ends tabs-bar -->
<!-- Tabs Main Content -->
<div id="tabs-content-wrap">
    <ul>
        <li id="th-tab-one" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody class="nse-table-body">
                                  {% for key, value in nasdaq_gainers.items %}

                                                <tr class="">
                                                  <td>{{key }}</td>
                                                   {% for i in value %}
                                                  <td>{{i}}</td>
                                                    {% endfor %}

                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody class="nse-table-body">
                                  {% for key, value in nasdaq_losers.items %}

                                                <tr class="losers">
                                                  <td>{{key}}</td>
                                                {% for i in value %}
                                                  <td> <span class="bearish">{{i}}</span></td>
                                                    {% endfor %}
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- Ends Tab One Content -->
        <li id="th-tab-two" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody class="nse-table-body">
                                  {% for key, value in nyse_gainers.items %}

                                                <tr class="">
                                                  <td>{{key }}</td>
                                                   {% for i in value %}
                                                  <td>{{i}}</td>
                                                    {% endfor %}

                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody class="nse-table-body">
                                  {% for key, value in nyse_losers.items %}

                                                <tr class="losers">
                                                  <td>{{key}}</td>
                                                {% for i in value %}
                                                  <td> <span class="bearish">{{i}}</span></td>
                                                    {% endfor %}
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab Two Content -->
        <li id="th-tab-three" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody class="nse-table-body">
                                  {% for key, value in tsx_gainers.items %}

                                                <tr class="">
                                                  <td>{{key }}</td>
                                                   {% for i in value %}
                                                  <td>{{i}}</td>
                                                    {% endfor %}

                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody class="nse-table-body">
                                  {% for key, value in tsx_losers.items %}

                                                <tr class="losers">
                                                  <td>{{key}}</td>
                                                {% for i in value %}
                                                  <td> <span class="bearish">
                                                      {{i}}</span></td>
                                                    {% endfor %}
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab Three Content -->
            <li id="th-tab-four" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <!--<th scope="col">Symbol</th>-->
                                      <th scope="col">Company</th>
                                        <th scope="col">Prev Price</th>
                                      <th scope="col">Current Price </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id='bse_gainers_tbody' class="nse-table-body">

                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Prev Price</th>
                                                  <th scope="col">Current Price </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody id="bse_losers_tbody" class="nse-table-body">

                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab four Content -->
        <li id="th-tab-five" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <!--<th scope="col">Symbol</th>-->
                                      <th scope="col">Company</th>
                                        <th scope="col">Prev Price</th>
                                      <th scope="col">Current Price </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id="nse_gainers_tbody" class="nse-table-body">

                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Prev Price</th>
                                                  <th scope="col">Current Price </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody id="nse_losers_tbody" class="nse-table-body">


                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab five Content -->
    </ul>
</div>


    </section>




    <!--container-->
 <div class="sub_video_container m-auto">
                            <video autoplay  loop muted poster="" class="sub-video">
                            <source src="{% static 'edlyne_times/assets/video/stock.mp4' %}" type="video/mp4">
                            </video>



     <section class="container ourservices text-center">
        <span>SERVICES</span>
        <h1>Leading Equity Research Company</h1>
        <br>
        <div class="row rowsetting">
            <div class="col-lg-4 col-md-4 col-sm-4 col--10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-search-plus fa-3x text-white icons"> </i>
                </div>
                <h2>Equity Research</h2>
                <p>
                   With a universe of about 15000 companies under coverage, we are the best equipped to provide you with an independent opinion on fair value. Our valuation represents the most likely price around which a deal can happen, if more than one independently acting potential buyer/seller is found after adequate efforts, but within a limited timeframe after our analysis.
                    We offer full support in finding your way into the world of stock market.
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col--10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-book fa-3x text-white icons"></i>
                </div>
                <h2>Company Analysis</h2>
                <p>
                    Our aim is to provide you with the status-quo of a company’s performance and enlightening our clients with its overall risk assessments, growth prospects, liquidity, key investment highlights, future prospects, business outlook dynamics, share price, performance analysis, key fundamentals and shareholder statistics, etc., thus helping you get the better picture of the company’s growth and making it easy for you to decide whether to invest or not.                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col--10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-university  fa-3x text-white icons"></i>
                </div>
                <h2>Financial Reports</h2>
                <p>
                For you to make the smart investment choices, our team of experts work strenuously and methodically to provide you with the financial reports conveying the overall financial health of a company you’re planning to invest in, including the net sales turnover, stock adjustments, operating profit, prior year adjustments, EBITDA, reported PAT, reserves and surplus, ROA, ROE, IIEA, CTI, P/E, debt to equity ratio and more.            </div>
        </div>


    </section>
 </div>



        <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our <em>Capabilities</em></h2>
              <span>We embrace your dreams of financial growth.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'edlyne_times/assets/img/service_01.jpg' %}" alt="">
              <div class="down-content">
                <h4>Digital Currency</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="{% url 'services' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'edlyne_times/assets/img/service_02.jpg' %}" alt="">
              <div class="down-content">
                <h4>Market Analysis</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="{% url 'services' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'edlyne_times/assets/img/service_03.jpg' %}" alt="">
              <div class="down-content">
                <h4>Historical Data</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="{% url 'services' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Lorem ipsum dolor sit amet</span>
              <h2>Our solutions for your <em>business growth</em></h2>
              <p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue.
              <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row" id="counter">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="945">0</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="1280">100</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="578">10</div>
                  <div class="count-title">Projects Done</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="26">0</div>
                  <div class="count-title">Awards Won</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 <div class="col-lg-12  testimonials">
     <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our greatest clients</span>
            </div>
  <div id="client-testimonial-carousel" class="carousel slide testimonial-item" data-ride="carousel" style="height:200px;">
    <div class="carousel-inner inner-content" role="listbox">
      <div class="carousel-item active text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.
          </p>
            <h4>George Walker</h4>
          <span class="blockquote-footer">Chief Financial Analyst </span>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.
          </p>
           <h4>John Smith</h4>
                  <span>Market Specialist</span>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> A person who never made a mistake never tried anything new.
          </p>
            <h4>David Wood</h4>
                  <span>Chief Accountant</span>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </p>
        </blockquote>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
    </ol>
  </div>
</div>

</div>
<script>



$(document).ready(function(){
//   bse gainers
    $.ajax({
      type:'GET',
      url:'/bse_gainers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        console.log(data)
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
}       );
        tableData += '</table>';

        $('#bse_gainers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


//   bse losers
    $.ajax({
      type:'GET',
      url:'/bse_losers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        console.log(data)
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
            });
        tableData += '</table>';

        $('#bse_losers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


});



$(document).ready(function(){
    $.ajax({
      type:'GET',
      url:'/nse_gainers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        console.log(data)
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
            });
        tableData += '</table>';

        $('#nse_gainers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


//   nyse losers
    $.ajax({
      type:'GET',
      url:'/nse_losers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        console.log(data)
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
            });
        tableData += '</table>';

        $('#nse_losers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


});



(function () {
  "use strict";

  var carousels = function () {
    $(".owl-carousel1").owlCarousel({
      loop: true,
      center: true,
      margin: 0,
      responsiveClass: true,
      nav: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        680: {
          items: 2,
          nav: false,
          loop: false
        },
        1000: {
          items: 3,
          nav: true
        }
      }
    });
  };

  (function ($) {
    carousels();
  })(jQuery);
})();

</script>

{% endblock %}
