{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}

<div class="main-wrapper">

        <section class="video_section">
            <div class="container video_overlay text-center text-white">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-12">
                            <h1 class="headline">The Leading Equity Research Company in India</h1>
                            <h2>Be an insider and make confident and informed investment decisions!</h2>
                            <button class="btn btn-warning text-white btn-lg">SUBSCRIBE</button>
                         </div>

                    <div class="col-lg-6 col-md-6 col-sm-10 col-12 video_right_section">
                        <!--Text Block 1-->
                              <div class="text-block1">
                                <i class="fa fa-line-chart fa-3x text-white icons"></i>
                                <h4>NIFTY50</h4>
                                <p>sunrise</p>
                              </div>

                               <div class="text-block2">
                                <h3>1200K</h3>
                                <i class="fa fa-circle-o-notch fa-3x text-white" aria-hidden="true"></i>
                                <p>Subscribers</p>
                              </div>

                    </div>
                  </div>
            </div>


            <div class="video_container">
            <video autoplay loop muted poster="">
            <source src="{% static 'edlyne_times/assets/video/home_video.mp4' %}" type="video/mp4">
            </video>
             </div>
        </section>





    <!--section first content-->
    <section class="first_content_wrapper">
        <div id="tabs-bar">
    <ul id="tabs-nav">
        <li><a href="#th-tab-one" class="current">NASDAQ</a>

        </li>
        <li><a href="#th-tab-two">NYSE</a>

        </li>
        <li><a href="#th-tab-three">TSX</a>

        </li>
    </ul>
    <div style="clear:both;"></div>
</div>
<!-- ends tabs-bar -->
<!-- Tabs Main Content -->
<div id="tabs-content-wrap">
    <ul>
        <li id="th-tab-one" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody class="nse-table-body">
                                  {% for key, value in nasdaq_gainers.items %}

                                                <tr class="">
                                                  <td>{{key }}</td>
                                                   {% for i in value %}
                                                  <td>{{i}}</td>
                                                    {% endfor %}

                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody class="nse-table-body">
                                  {% for key, value in nasdaq_losers.items %}

                                                <tr class="losers">
                                                  <td>{{key}}</td>
                                                {% for i in value %}
                                                  <td> <span class="bearish">{{i}}</span></td>
                                                    {% endfor %}
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- Ends Tab One Content -->
        <li id="th-tab-two" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody class="nse-table-body">
                                  {% for key, value in nyse_gainers.items %}

                                                <tr class="">
                                                  <td>{{key }}</td>
                                                   {% for i in value %}
                                                  <td>{{i}}</td>
                                                    {% endfor %}

                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody class="nse-table-body">
                                  {% for key, value in nyse_losers.items %}

                                                <tr class="losers">
                                                  <td>{{key}}</td>
                                                {% for i in value %}
                                                  <td> <span class="bearish">{{i}}</span></td>
                                                    {% endfor %}
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab Two Content -->
        <li id="th-tab-three" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody class="nse-table-body">
                                  {% for key, value in tsx_gainers.items %}

                                                <tr class="">
                                                  <td>{{key }}</td>
                                                   {% for i in value %}
                                                  <td>{{i}}</td>
                                                    {% endfor %}

                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody class="nse-table-body">
                                  {% for key, value in tsx_losers.items %}

                                                <tr class="losers">
                                                  <td>{{key}}</td>
                                                {% for i in value %}
                                                  <td> <span class="bearish">{{i}}</span></td>
                                                    {% endfor %}
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab Three Content -->
    </ul>
</div>


    </section>




    <!--container-->
 <div class="sub_video_container m-auto">
                            <video autoplay  loop muted poster="">
                            <source src="{% static 'edlyne_times/assets/video/stock.mp4' %}" type="video/mp4">
                            </video>



     <section class="container ourservices text-center">
        <h1>SERVICES</h1>
        <p>Lorem Ipsum dolar sit amt consectertur</p>

        <div class="row rowsetting">
            <div class="col-lg-4 col-md-4 col-sm-4 col--10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-search-plus fa-3x text-white icons"> </i>
                </div>
                <h2>Equity Research</h2>
                <p>
                   With a universe of about 15000 companies under coverage, we are the best equipped to provide you with an independent opinion on fair value. Our valuation represents the most likely price around which a deal can happen, if more than one independently acting potential buyer/seller is found after adequate efforts, but within a limited timeframe after our analysis.
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col--10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-book fa-3x text-white icons"></i>
                </div>
                <h2>Company Analysis</h2>
                <p>
                    Our aim is to provide you with the status-quo of a company’s performance and enlightening our clients with its overall risk assessments, growth prospects, liquidity, key investment highlights, future prospects, business outlook dynamics, share price, performance analysis, key fundamentals and shareholder statistics, etc., thus helping you get the better picture of the company’s growth and making it easy for you to decide whether to invest or not.                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col--10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-university  fa-3x text-white icons"></i>
                </div>
                <h2>Financial Reports</h2>
                <p>
                For you to make the smart investment choices, our team of experts work strenuously and methodically to provide you with the financial reports conveying the overall financial health of a company you’re planning to invest in, including the net sales turnover, stock adjustments, operating profit, prior year adjustments, EBITDA, reported PAT, reserves and surplus, ROA, ROE, IIEA, CTI, P/E, debt to equity ratio and more.            </div>
        </div>


    </section>
                        </div>


    <!--Portfolio section-->
    <section class="portfolio bg-light">
        <div class="container ">
            <h2 class="text-center">There is a smallcase for everyone</h2>
            <p class="text-center">Discover smallcases from different types, risk levels & strategies and invest with the core-satellite approach</p>
            <div class="row portfolio_inner_section">
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <img src="{% static 'edlyne_times/assets/img/graph4.svg' %}" class="card-img img-fluid" alt="">
                        <div class="card-body">
                            <h2 class="card-title">All Weather Investing</h2>
                            <p class="card-text">A recession proof way to build long term wealth.All Weather Investing smallcase is a portfolio of equity, gold & ETFs</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <img src="{% static 'edlyne_times/assets/img/graph3.svg' %}" class="card-img img-fluid" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Smart Beta</h2>
                            <p class="card-text">A low volatile portfolio that aims for high returns. Passive investing with a twist.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <img src="{% static 'edlyne_times/assets/img/graph2.svg' %}" class="card-img img-fluid" alt="">
                        <div class="card-body">
                            <h2 class="card-title">Model Based</h2>
                            <p class="card-text">Companies that own India's everyday brands. Top consumer favorites</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Mobile section-->
    <section class="mobile_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 col-12 ">

                    <div class="row right_section">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-4 aside_section1">
                        <img src="{% static 'edlyne_times/assets/img/graph1.svg' %}" alt="Img">
                    </div>
                    <div class="col-lg-8 col-md-8 col-lg-offset-1  col-md-offset-1 col-sm-offset-1 col-sm-6 col-8">
                        <h4>Simple to understand</h4>
                        <p>Our evident and clear-cut reports make stock investment easy for you.</p>
                    </div>
                </div>
                <div class="row right_section">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-4 aside_section1">
                        <img src="{% static 'edlyne_times/assets/img/tree.svg' %}" alt="Img">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-8">
                        <h4>Created by experts</h4>
                        <p>The Research Reports are created by our team of analysts having relevant expertise.</p>
                    </div>
                </div>
                <div class="row right_section">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-4 aside_section1">
                        <img src="{% static 'edlyne_times/assets/img/graph1.svg' %}" alt="Img">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-8">
                        <h4>Designed for you</h4>
                        <p>Reports are designed to make your process of investment simple and hassle-free.</p>
                    </div>
                </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-10 col-12 phone-slider">
                    <img src="{%static 'edlyne_times/assets/img/mobile.png' %}">
                        <div class="screen-holder">
                            <div class="w3-content w3-section">
                                  <img class="mySlides" src="{%static 'edlyne_times/assets/img/mobile2.png' %}">
                                  <img class="mySlides" src="{%static 'edlyne_times/assets/img/mobile3.png' %}">
                                  <img class="mySlides" src="{%static 'edlyne_times/assets/img/mobile2.png' %}">
                                </div>
                        </div>


                </div>
            </div>
        </div>
    </section>





</div>

{% endblock %}
