{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}

<div class="main-wrapper">

        <section class="video_section">
            <div class="container video_overlay text-center text-white">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-12">
                            <h2 class="headline">HOW TO GET STARTED WITH INVESTING</h2>
                            <h2>Stock investing made easy</h2>
                            <button class="btn btn-warning text-white btn-lg subscribe-btn"><a href="{% url 'register'%}">SUBSCRIBE</a></button>
                         </div>

                    <div class="col-lg-6 col-md-6 col-sm-10 col-12 video_right_section" id="topcounter">
                        <!--Text Block 1-->
                              <div class="text-block1">
                                <i class="fa fa-line-chart fa-3x text-white icons"></i>
                                <div class="topcounter-value count-digit" data-count="2500">2300</div>
                                <p>Reports</p>
                              </div>

                               <div class="text-block2" >
                                <div class="topcounter-value count-digit" data-count="945">900</div>
                                <i class="fa fa-circle-o-notch fa-3x text-white" aria-hidden="true"></i>
                                <p>Subscribers</p>
                              </div>

                    </div>
                  </div>
            </div>


            <div class="video_container">
            <video autoplay loop muted poster="" id="mainvideo">
            <source src="{% static 'edlyne_times/assets/video/etimesvideo.mp4' %}" type="video/mp4">
            </video>
             </div>

        </section>




<section class="table-container">

    <div class="vid">
    <video autoplay  loop muted poster="" class="sub-video">
        <source src="{% static 'edlyne_times/assets/video/stock.mp4' %}" type="video/mp4">
    </video>
    </div>
    <!--section first content-->
    <section class="first_content_wrapper">
        <br>
            <h2 class="text-center">Stock<em> Market</em></h2><p class="text-center table_subscript">Top Daily Gainers/losers.</p>

        <div id="tabs-bar">
    <ul id="tabs-nav">
        <li><a href="#th-tab-one" class="current">NASDAQ</a></li>
        <li><a id="nyse" href="#th-tab-two">NYSE</a></li>
        <li><a id="tsx" href="#th-tab-three">TSX</a></li>
        <li><a href="#th-tab-four">BSE</a></li>
        <li><a href="#th-tab-five">NSE</a></li>
    </ul>
    <div style="clear:both;"></div>
</div>
<!-- ends tabs-bar -->
<!-- Tabs Main Content -->
<div id="tabs-content-wrap">
    <ul>

        <li id="th-tab-one" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                                <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id="nasdaq_gainers_tbody">
                                    {% for stock in nasdaq_gainers %}

                                                <tr class="">
                                                  <td>{{stock.symbol}}</td>
                                                  <td>{{stock.name}}</td>
                                                  <td> <span class="bearish">{{stock.change}} </span></td>
                                                  <td> <span class="bearish">{{stock.percent}} </span></td>
                                                </tr>
                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped  market-table home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody id="nasdaq_losers_tbody">
                                                    {% for stock in nasdaq_losers %}

                                                <tr class="losers">
                                                  <td>{{stock.symbol}}</td>
                                                  <td>{{stock.name}}</td>
                                                  <td> <span class="bearish">{{stock.change}} </span></td>
                                                  <td> <span class="bearish">{{stock.percent}} </span></td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- Ends Tab One Content -->
        <li id="th-tab-two" class="tab-content">
            <div class="row mobile-table-view">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id="nyse_gainers_tbody">
                                     {% for stock in nyse_gainers %}

                                                 <tr class="">
                                                  <td>{{stock.symbol}}</td>
                                                  <td>{{stock.name}}</td>
                                                  <td> <span class="bearish">{{stock.change}} </span></td>
                                                  <td> <span class="bearish">{{stock.percent}} </span></td>
                                                </tr>
                                              {% endfor %}
                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped  market-table home-nse-loser-table">
                                              <thead class="nse-table-head">
                                               <tr>
                                                      <th scope="col">Symbol</th>
                                                      <th scope="col">Company</th>
                                                      <th scope="col">Change </th>
                                                      <th scope="col">%Change </th>
                                                    </tr>
                                              </thead>
                                           <tbody id="nyse-losers-tbody" class="nse-table-body">
                                                {% for stock in nyse_losers %}

                                                <tr class="">
                                                  <td>{{stock.symbol}}</td>
                                                  <td>{{stock.name}}</td>
                                                  <td> <span class="bearish">{{stock.change}} </span></td>
                                                  <td> <span class="bearish">{{stock.percent}} </span></td>
                                                </tr>
                                              {% endfor %}

                                              </tbody>
                                            </table>
                                        </div>
                                 </div>

        </li>
        <!-- ends Tab Two Content -->
        <li id="th-tab-three" class="tab-content">
            <div class="row mobile-table-view">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <th scope="col">Symbol</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Change </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id="tsx-gainers-tbody">
                                  {% for stock in tsx_gainers %}

                                                <tr class="">
                                                  <td>{{stock.symbol}}</td>
                                                  <td>{{stock.name}}</td>
                                                  <td> <span class="bearish">{{stock.change}} </span></td>
                                                  <td> <span class="bearish">{{stock.percent}} </span></td>
                                                </tr>
                                              {% endfor %}

                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Symbol</th>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Change </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody id="tsx-losers-tbody">
                                           <tbody id="nasdaq_losers_tbody" class="nse-table-body">
                                            {% for stock in tsx_losers %}

                                                <tr class="losers">
                                                  <td>{{stock.symbol}}</td>
                                                  <td>{{stock.name}}</td>
                                                  <td> <span class="bearish">{{stock.change}} </span></td>
                                                  <td> <span class="bearish">{{stock.percent}} </span></td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab Three Content -->
            <li id="th-tab-four" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <!--<th scope="col">Symbol</th>-->
                                      <th scope="col">Company</th>
                                        <th scope="col">Prev Price</th>
                                      <th scope="col">Current Price </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id='bse_gainers_tbody' class="nse-table-body">

                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Prev Price</th>
                                                  <th scope="col">Current Price </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody id="bse_losers_tbody" class="nse-table-body">

                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab four Content -->
        <li id="th-tab-five" class="tab-content">
            <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-gainer-table">
                                  <thead class="nse-table-head">
                                    <tr>
                                      <!--<th scope="col">Symbol</th>-->
                                      <th scope="col">Company</th>
                                        <th scope="col">Prev Price</th>
                                      <th scope="col">Current Price </th>
                                      <th scope="col">%Change </th>
                                    </tr>
                                  </thead>
                                  <tbody id="nse_gainers_tbody" class="nse-table-body">

                                  </tbody>
                                </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-10 col-sm-10">
                                        <table class="table table-striped market-table home-nse-loser-table">
                                              <thead class="nse-table-head">
                                                <tr>
                                                  <th scope="col">Company</th>
                                                  <th scope="col">Prev Price</th>
                                                  <th scope="col">Current Price </th>
                                                  <th scope="col">%Change </th>
                                                </tr>
                                              </thead>
                                              <tbody id="nse_losers_tbody" class="nse-table-body">


                                              </tbody>
                                            </table>
                                        </div>
                                 </div>
        </li>
        <!-- ends Tab five Content -->
    </ul>

</div>
    </section>
</section>

        <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our <em>Services</em></h2>
              <h1 class="span-text">Leading Equity Research Company</h1>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'edlyne_times/assets/img/service_01.jpg' %}" alt="">
              <div class="down-content">
                <h4>Equity Research</h4>
                <p>
                    ETimes Media is the best <a href="https://etimesmedia.com/about/">equity research firms</a> to provide high quality, comprehensive and customized investment and financial research services to its clients all over the world.
                    We help clients to negotiate financial markets, augment their portfolios and make strategic business decisions more efficiently. Our talented and energetic financial research team helps you with critical industry insights to help clients meet their goals efficiently.
                </p>
                <a href="{% url 'services' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'edlyne_times/assets/img/service_02.jpg' %}" alt="">
              <div class="down-content">
                <h4>Company Analysis</h4>
                <p>
                    Our aim is to provide you with the status-quo of a company’s performance and enlightening our clients with its overall risk assessments, growth prospects, liquidity, key investment highlights, future prospects, business outlook dynamics, share price, performance analysis, key fundamentals and shareholder statistics, etc., thus helping you get the better picture of the company’s growth. For <a href="https://etimesmedia.com/blogs/">share market tips</a> contact our professionals today!
                </p>
                <a href="{% url 'services' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'edlyne_times/assets/img/service_03.jpg' %}" alt="">
              <div class="down-content">
                <h4>Financial Reports</h4>
                <p>
                    Our team of experts work strenuously and methodically to provide you with the financial reports conveying the overall financial health of a company you’re planning to invest in, including the net sales turnover, stock adjustments, operating profit, prior year adjustments, EBITDA, reported PAT, reserves and surplus, ROA, ROE, IIEA, CTI, P/E, debt to equity ratio and more. Any research on share market will lead you to us!
                </p>
                <a href="{% url 'services' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


 <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are ready to help you with</h6>
                <h4>Our In-depth Knowledge</h4>
                <p>
                    With their in-depth knowledge of equity market research, our industry leaders and market research specialists have helped customers grow for over years, providing superior customer service, high quality data, and invaluable insights to many markets.
                </p>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are here to support you with</h6>
                <h4>Our Smart Reports</h4>
                <p>
                    Our smartly drafted research reports deliver deep insights using a combination of traditional and innovative research methodologies resulting in helping you discover the information you need, determine the next best steps, and successfully achieve your financial goals.

                                    </p>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we have a solid background for</h6>
                <h4>Client Solutions</h4>
                <p>
                    We focus on delivering applicable insights with deeper standpoint. From <a href="https://etimesmedia.com/blogs/">share market tips for beginners </a> to investment to assistance shareholders we do it all.  Our capabilities and approach enable us to craft built-to-fit custom research solutions that help our clients make smart and conversant market-related decisions.                </p>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <br>
    <br>
    <!-- Banner Ends Here -->



 <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
          <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Latest <em>Blogs</em></h2>
                <h2 class="span-text"> <span>Be inspired. Be informed!</span></h2>
            </div>
          </div>
        </div>

        <div class="owl-banner owl-carousel">
           {% for post in Post %}
          <div class="item blog_item">
             <img src="{% static 'edlyne_times/assets/files/' %}{{post.featured_image}}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <a href="{% url 'post_detail' post.slug  %}"><span>{{post.title}}</span></a>
                </div>
                <ul class="post-info">
                  <li><a href="#">{{post.author}}</a></li>
                  <li><a href="#">{{post.created_on | date:"F d Y"}}</a></li>
                  <li><a href="#">12 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}

          </div>
        </div>
      </div>
 <!-- Banner ends Here -->

<br>
<br>
 <div class="col-lg-12 col-sm-10 testimonials">
     <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our Valuable clients</span>
            </div>
  <div id="client-testimonial-carousel" class="carousel slide testimonial-item" data-ride="carousel" style="height:200px;">
    <div class="carousel-inner inner-content" role="listbox">
      <div class="carousel-item active text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> The service I've received from ETimes Media has been excellent, their advice and knowledge in the equity sector have been instrumental in turning around my fortunes. Always professional and friendly in equal measure- highly recommended.</p>
            <h4>Himadri</h4>
          <span class="blockquote-footer"> </span>
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i>I have opted services from ETimes Media. I am particularly impressed by how they keep me up-to-date with the stock market changes which may affect my investment goal.
          </p>
           <h4>Bharat Kumar</h4>
                  <span></span>
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i>
            ETimes Media delivers superior financial results and exceptional customer service. They present a balanced, systematic approach.
          </p>
            <h4>Rahul Sharma</h4>
                  <span></span>
          <p class="client-review-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </p>
        </blockquote>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
    </ol>
  </div>
</div>




    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Top Market Research Company</span>
              <h2>Our Solutions for Your  <em>Financial Growth</em></h2>
              <p>
                  Our goal is to provide our customers with information on the market. Lack of information creates ineptitude that results in stocks being misrepresented. Our analysts spend a lot of time examining a stock, its industry, and its peer group to provide you <a href="https://etimesmedia.com/accounts/contact/">best stock market tips </a> with their understanding and mastery.
                  <br>
                <br>
                Research analysts share their insights and industry know-how with investors who may not have them or may not have the time to develop them. Our research is thus valuable and helpful for our clients as it fills information gaps so that our investors need not analyze every stock.              </p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row" id="counter">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="945">200</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="1280">500</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="3956">2500</div>
                  <div class="count-title">Reports Done</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="counter-value count-digit" data-count="945">900</div>
                  <div class="count-title">Subscribers</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>
<script>


$(document).ready(function(){
//   bse gainers
    $.ajax({
      type:'GET',
      url:'/bse_gainers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
}       );
        tableData += '</table>';

        $('#bse_gainers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


//   bse losers
    $.ajax({
      type:'GET',
      url:'/bse_losers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
            });
        tableData += '</table>';

        $('#bse_losers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


});



$(document).ready(function(){
    $.ajax({
      type:'GET',
      url:'/nse_gainers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
            });
        tableData += '</table>';

        $('#nse_gainers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


//   nse losers
    $.ajax({
      type:'GET',
      url:'/nse_losers'    ,
      cache:false,
      async:'false',
      dataType:'json',
      success: function(data) {
        var tableData = '<table>'
        $.each(data, function(key, value){
        tableData += '<tr>';
        tableData += '<td>' + key + '</td>';
        tableData += '<td>' + value[0] + '</td>';
        tableData += '<td>' + value[1] + '</td>';
        tableData += '<td>' + value[2] + '</td>';

        tableData += '</tr>';
            });
        tableData += '</table>';

        $('#nse_losers_tbody').html(tableData);

      },
      error: function( error) {
        console.log("Error: " + error)
      }
   });


});








(function () {
  "use strict";

  var carousels = function () {
    $(".owl-carousel1").owlCarousel({
      loop: true,
      center: true,
      margin: 0,
      responsiveClass: true,
      nav: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        680: {
          items: 2,
          nav: false,
          loop: false
        },
        1000: {
          items: 3,
          nav: true
        }
      }
    });
  };

  (function ($) {
    carousels();
  })(jQuery);
})();








</script>


{% endblock %}
