{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}
<div class="clear"></div>
<br>
<br>
<br>
<br>
<br>
  <div class="demo">
        <div class="container">
            <!--<div class="row text-center">-->
                <h1 class="heading-title text-center">Products</h1>
            <!--</div>-->

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Dividend Income Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b>Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_dividend %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_dividend %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_dividend %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_dividend %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_dividend %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_dividend" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                               Gold Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>70GB</b> Disk Space</li>
                                <li><b>70</b>Email Accounts</li>
                                <li><b>70GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                           {% if exchange == 'nse' %}
                                {% if nse_gold %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_gold %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_gold %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_gold %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_gold %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_gold" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Penny Stocks Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>80GB</b> Disk Space</li>
                                <li><b>80</b>Email Accounts</li>
                                <li><b>80GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_penny %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_penny %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_penny %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_penny %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_penny %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_penny" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div><!--Row end here-->
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Resources Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b>Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_resources %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_resources %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_resources %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_resources %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_resources %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_resources" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                               Health Care Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>70GB</b> Disk Space</li>
                                <li><b>70</b>Email Accounts</li>
                                <li><b>70GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                           {% if exchange == 'nse' %}
                                {% if nse_health %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_health %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_health %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_health %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_health %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_health" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Platinium Package
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>80GB</b> Disk Space</li>
                                <li><b>80</b>Email Accounts</li>
                                <li><b>80GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_platinum %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_platinum %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_platinum %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_platinum %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_platinum %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_platinum" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div><!--Row end here-->
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Technical Analysis
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b>Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_technical %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_technical %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_technical %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_technical %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_technical %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_technical" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                               American Tech Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>70GB</b> Disk Space</li>
                                <li><b>70</b>Email Accounts</li>
                                <li><b>70GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_american %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_american %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_american %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_american %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_american %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_american" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
                
                
                
                 <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                               Ipo Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>70GB</b> Disk Space</li>
                                <li><b>70</b>Email Accounts</li>
                                <li><b>70GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if exchange == 'nse' %}
                                {% if nse_america %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-danger">buy now</a>
                                 {% endif %}
                            {% elif exchange == 'bse' %}
                                {% if bse_ipo %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nyse' %}
                                {% if nyse_ipo %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'nasdaq' %}
                                {% if nasdaq_ipo %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            {% elif exchange == 'tsx' %}
                                {% if tsx_ipo %}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-info">View Report</a>
                                {% else%}
                                    <a href="{% url 'research' exchange %}?user_group={{ exchange }}_ipo" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                            

                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6">-->
                    <!--<div class="pricingTable">-->
                        <!--<div class="pricingTable-header">-->
                            <!--<span class="heading">-->
                                <!--Platinium Package-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--<div class="pricing-plans">-->
                            <!--<span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>-->
                        <!--</div>-->
                        <!--<div class="pricingContent">-->
                            <!--<ul>-->
                                <!--<li><b>80GB</b> Disk Space</li>-->
                                <!--<li><b>80</b>Email Accounts</li>-->
                                <!--<li><b>80GB</b> Monthly Bandwidth</li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash; /  CONTENT BOX&ndash;&gt;-->

                        <!--<div class="pricingTable-sign-up">&lt;!&ndash; BUTTON BOX&ndash;&gt;-->
                            <!--{% if platinum %}-->
                            <!--<a href="{% url 'research' exchange %}?user_group=platinum" class="btn btn-block btn-info">View Report</a>-->
                            <!--{% else %}-->
                            <!--<a href="{% url 'research' exchange %}?user_group=platinum" class="btn btn-block btn-danger">buy now</a>-->
                            <!--{% endif %}-->
                        <!--</div>&lt;!&ndash; BUTTON BOX&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            </div><!--Row end here-->

            <br><br>


        </div>
    </div>


{% endblock %}