{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}
<div class="clear"></div>
<br>
<br>
<br>
<br>
<br>
  <div class="demo">
        <div class="container">
            <!--<div class="row text-center">-->
                <h1 class="heading-title text-center">Products</h1>
            <!--</div>-->

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Dividend Income Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b>Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if dividend %}
                            <a href="{% url 'research' exchange %}?user_group=dividend" class="btn btn-block btn-info">View Report</a>
                            {% else %}
                            <a href="{% url 'research' exchange %}?user_group=dividend" class="btn btn-block btn-danger">buy now</a>
                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                               Gold Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>70GB</b> Disk Space</li>
                                <li><b>70</b>Email Accounts</li>
                                <li><b>70GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if gold %}
                            <a href="{% url 'research' exchange %}?user_group=gold" class="btn btn-block btn-info">View Report</a>
                            {% else %}
                            <a href="{% url 'research' exchange %}?user_group=gold" class="btn btn-block btn-danger">buy now</a>
                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Penny Stocks Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>80GB</b> Disk Space</li>
                                <li><b>80</b>Email Accounts</li>
                                <li><b>80GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->


                                {% if penny %}
                                <a href="{% url 'research' exchange %}?user_group=penny" class="btn btn-block btn-info">View Report</a>
                                {% else %}
                                <a href="{% url 'research' exchange %}?user_group=penny" class="btn btn-block btn-danger">buy now</a>
                                {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div><!--Row end here-->
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Resources Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>50GB</b> Disk Space</li>
                                <li><b>50</b>Email Accounts</li>
                                <li><b>50GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if resources %}
                            <a href="{% url 'research' exchange %}?user_group=resources" class="btn btn-block btn-info">View Report</a>
                            {% else %}
                            <a href="{% url 'research' exchange %}?user_group=resources" class="btn btn-block btn-danger">buy now</a>
                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                               Health Care Report
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>70GB</b> Disk Space</li>
                                <li><b>70</b>Email Accounts</li>
                                <li><b>70GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if health %}
                            <a href="{% url 'research' exchange %}?user_group=health" class="btn btn-block btn-info">View Report</a>
                            {% else %}
                            <a href="{% url 'research' exchange %}?user_group=health" class="btn btn-block btn-danger">buy now</a>
                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                Platinium Package
                            </span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>80GB</b> Disk Space</li>
                                <li><b>80</b>Email Accounts</li>
                                <li><b>80GB</b> Monthly Bandwidth</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                        <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                            {% if platinum %}
                            <a href="{% url 'research' exchange %}?user_group=platinum" class="btn btn-block btn-info">View Report</a>
                            {% else %}
                            <a href="{% url 'research' exchange %}?user_group=platinum" class="btn btn-block btn-danger">buy now</a>
                            {% endif %}
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
            </div><!--Row end here-->

            <br><br>


        </div>
    </div>


{% endblock %}