{% extends 'etimes/base.html' %}
{% load static %}
{% block content %}
<div class="clear"></div>
<br>
<br>
<br>
<br>

<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Services</h1>
            <span>We are over 20 years of experience</span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Equity Research <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>Company Analysis <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>Financial Reports <i class="fa fa-angle-right"></i></a></li>  
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="{% static 'edlyne_times/assets/img/single_service_01.jpg' %}" alt="">
                <h4>Equity Research</h4>
                <p>ETimes Media is the best <a href="https://etimesmedia.com/about/">equity research firms</a> to provide high quality, comprehensive and customized investment and financial research services to its clients all over the world.
                  We help clients to negotiate financial markets, augment their portfolios and make strategic business decisions more efficiently. Our talented and energetic financial research team helps you with critical industry insights to help clients meet their goals efficiently.</p>
              </article>
              <article id='tabs-2'>
                <img src="{% static 'edlyne_times/assets/img/single_service_02.jpg' %}" alt="">
                <h4>Company Analysis</h4>
                <p>Our aim is to provide you with the status-quo of a company’s performance and enlightening our clients with its overall risk assessments, growth prospects, liquidity, key investment highlights, future prospects, business outlook dynamics, share price, performance analysis, key fundamentals and shareholder statistics, etc., thus helping you get the better picture of the company’s growth. For <a href="https://etimesmedia.com/blogs/">share market tips</a> contact our professionals today!</p>
              </article>
              <article id='tabs-3'>
                <img src="{% static 'edlyne_times/assets/img/single_service_03.jpg' %}" alt="">
                <h4>Financial Reports</h4>
                <p>Our team of experts work strenuously and methodically to provide you with the financial reports conveying the overall financial health of a company you’re planning to invest in, including the net sales turnover, stock adjustments, operating profit, prior year adjustments, EBITDA, reported PAT, reserves and surplus, ROA, ROE, IIEA, CTI, P/E, debt to equity ratio and more. Any research on share market will lead you to us!</p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
{% endblock %}

 <script language = "text/Javascript">
    $('article').on('click', function () {
  var divID = $(this).attr('data-box');
  $(this).addClass('Active').siblings().removeClass('Active');
  $('#' + divID).addClass('Active').siblings().removeClass('Active');
})
    </script>