{% load static %}

/*main video section*/

body, html { overflow-x:hidden; }

.video_section {
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}




.headline{
    font-size:4rem;
    padding:20px;
    margin: 50px 15px 0px;
    z-index:1;
    font-weight:700;
}

.video_section p{
    text-align:center;
    font-size:2rem;
    font-family:var(--font1);
    padding:20px;
    margin:15px;
    z-index:1;
    opacity:0.7;
}

.video_overlay {
    position:absolute;
    top:20;
    left:0;
    z-index:1;
    padding:50px 0px;
}

.video_overlay  h1{
    color: #fff;
    font-size: 4.375vw;
    font-weight:bold;
}

.video_container {
    position:absolute;
    top:0;
    left:0;
    width:100%
}

.video_container{
    box-sizing:border-box;
}

.video_container h2{
    font-size:32px;
}

.video_container h1{
    font-size:42px;
    font-weight:bold;
}



/* text Block*/
.text-block1 {
    display: inline-block;
    border-radius: .25vw;
    box-shadow: -21px 30px 29px 0 rgb(0 0 0 / 10%);
    background-image: linear-gradient(144deg, #48c993, #3aae97);
    padding: 3.35938vw 0vw 6.09375vw;
    position: absolute;
    left: 12.95313vw;
    top: 11.40625vw;
    width: 13.28125vw;
    height: 19.57813vw;
}

.text-block2 {
    display: inline-block;
    border-radius: .25vw;
    box-shadow: -21px 30px 29px 0 rgb(0 0 0 / 10%);
/*
    background-image: linear-gradient(144deg, #48c993, #292929);
*/
    background-color: #292929;
    padding: 3.35938vw 0 6.09375vw;
    position: absolute;
    left: 24.95313vw;
    top: 14.70625vw;
    width: 13.28125vw;
    height: 17.57813vw;

}
.text-block2 p {
    font-size:16px;
}

.collapse {
    display: none !important;
}

.first_content_wrapper {
   /* margin:40px 40px 0 0;
     border-bottom: 1px solid red;*/

}

/*Aside Section*/

.aside_section1 img{
    width:100%;
    height:auto;
}


.right_section:nth-child(2),
.right_section:nth-child(3){
    padding-top:75px;
}
.right_section p{
    font-family:var(--font1);
    font-size:14px;
    color: #535b62 !important;
}






.portfolio_inner_section img{
    width:200px;
    height:auto;
    padding: 20px 0 0 10px;
}

.portfolio_inner_section p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #535b62 !important;
    font-family:var(--font1);
}

/*Header section*/

.login_section{

padding-left: 40px;
}


/*FOOTER*/

.bottom-footer{
    width:100%;
    font-family: var(--font1);
    color: #737373 !important;
    padding:15px 0px 15px 10px;
}

.top-footer{
      border-bottom: 1px solid #dde0e4;
}


.footer{
    border-top: 1px solid #dde0e4;
    padding:60px 0px;
    background: #000;
    color:#ffffff !important;
    font-size: .9375vw;
    line-height: 1.71875vw;
}

.medium-footer{
    padding:10px 0px;
}

.medium-footer div a{
    color:#ffffff !important;
}

.medium-footer div a:hover{
    text-decoration:none;
    transform: scale(1.5);
}

.footer ul li{
    list-style:none;
    text-decoration:none;
}
.footer ul li a{
    font-family: var(--font1);
    color: #737373 !important;
    font-size:13px;
}

.footer p{
    font-family: var(--font1);
    color: #737373 !important;
    font-size:13px;
}

.footer ul{
    padding:10px 0px;
}


/*.headerset{
    padding-top:200px !important;
    box-sizing:border-box;
}

.headerset h2{
    font-size:42px;
}

.headerset h1{
    font-size:82px;
    font-weight:bold;
}*/

.navbar li a{
    color: #000000 !important;
    margin-right: 20px;
    font-family: 'Archivo', sans-serif !important;
}

.nav-colored li a {
  color:#000000ed !important;
}
.nav-colored {
    background-color:#ffffffbf !important;
    box-shadow: 0px 4px 6px #888888;

    }
.nav-transparent { background-color:transparent !important;}

.navbar li a:hover{
    color:#ffc107 !important;
    transform: scale(1.3);
}

.logo{
    width: 55px;
    height: auto;
}

#login-btn{
    background:#FE6983;
    padding:5px 15px;
    color:#ffffff;
}




/*sub video container*/
.sub-video{
    width:100%;
}
  .ourservices {
      width: 100%;
      height: auto;
      z-index:1;
      position:absolute;
      top:50px;
      left:80px;
    }

.sub_video_container {
      width: 100%;
      z-index: -1;
      position:relative;
    background-image: url(/static/edlyne_times/assets/img//fun-facts-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 80vh;
    }

/*our services*/
.ourservices{
    height:500px;
    color: #ffffff;
}

.ourservices h2{
    font-size: 36px;
    font-weight: 600;
}

.ourservices span{
    font-size:50px !important;
    font-weight:bold;
}

.ourservices h1{
    font-size:20px;
    font-weight:bold;
}


.rowsetting p{
    padding:10px;
    font-font:var(--font1) !important;
    font-size:14px;
    line-height:30px;
}

.rowsetting h2 {
    margin-top:20px;
    font-weight:bold;
    font-size:30px;
}

.fa-shopping-plus{
    margin-top:20px !important;
}

.icons{
/*
    margin-top:15px;
*/
}

/*.imgsetting:hover,
.imgsetting:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}*/


.imgsetting:hover{
    box-shadow:
    inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
    }

.imgsetting{
    border-radius:50%;
    height:100px;
    width:100px;
    padding: 25px 10px;

}

/*Portfolio Section*/

.portfolio{
    padding: 70px 0px 60px;
    height: 600px;
    margin-top: 75px;
}

.portfolio h1{
    font-size:50px;
    font-weight:bold;
}

.card{
    margin-top:40px;
}


/*responsive*/
@media only screen and (min-width: 769px) { /* tablet, landscape iPad, lo-res laptops ands desktops */


.submenu-mobile {
    display:none !important;
}




}


  /* For mobile phones: */
@media only screen and (max-width: 768px) {

    .headerset h1{
            font-size:42px;
            font-weight:bold;
            }
        .headerset h2{
        font-size:22px;
        }

        .ourservices{
            height:1200px;
            position:static;
        }

        .ourservices h1, .ourservices h2, .ourservices span{
            color:#000000 !important;
        }

        .ourservices p{
            font-family: var(--font1);
            font-size: 14px;
            color: #535b62 !important;
        }
        .portfolio{
            padding: 40px 0px 30px;
            height: 1600px;
}
.footer{
    text-align:center;
    line-height: 4.71875vw;
}


.carousel-indicators {
   bottom: -70px ;
}
.phone-slider{
    margin-top:20px;
    padding-left:0px !important;
}


#login-btn {
    font-size:10px;
}

.login_section{
    padding-left: 0px;
}
.video_overlay {
    top:20px;
}



.first_content_wrapper {
    margin:0px 0px;

}

.headline{
    font-size:1rem;
    padding:10px;
    margin: 10px 15px 0px;
    z-index:1;
    font-weight:600;
}

.video_right_section{
    display:none;
}

.sub-video {
    display:none;
}

.video_section {
    height:220px;
}
.logo{
    width:55px;
    padding-left:15px;
}
.video_section h2{
    font-size:1rem;
}

#mainvideo {
    width:100%;
    height:auto;
}

.subscribe-btn{
    font-size:12px !important;
}

.sub_video_container {
        padding-bottom: 25px;
}


#tabs-content-wrap ul {
    margin-left: -10px;

}

.dropdown{
    display:none;
}

input:checked~ul.submenu {

    right: 35% !important;
    padding: 10px !important;
}

.social_icons a {
    font-size:4em;
}

.table {
    color: #000 !important;
}

.table-container {
    height:155vh !important;
    }

#tabs-nav li a {
    font-size:12px !important;
}
#tabs-bar ul li {
    padding-right:0px !important;
}

.first_content_wrapper h2{
   color:#000 !important;
}

.mobile-table-view {
    margin-left:-40px !important;
}

}


/* For tablets: */
    /*@media only screen and (min-width: 600px) {
        .headerset h1{
                font-size:42px;
                font-weight:bold;
                }
            .headerset h2{
            font-size:22px;
            }
            .ourservices{
                height:1630px;
            }
            .portfolio{
                padding: 40px 0px 30px;
                height: 2200px;
    }

      }*/

 /* For desktops: */
@media only screen and (min-width: 768px) {
.headerset h1{
            font-size:42px;
            font-weight:bold;
            }
        .headerset h2{
        font-size:22px;
        }

}


/*
:root{
 --main-bg-color:brown
}
.navigation {
    height: 34px;
    background-color:#000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:2;
    padding: 16px;

}

.content {
    height: 90px;
*/
/*
    background-color:grey;
*//*

}

*/
/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}*//*


.container{
    margin:0 auto;
    padding:25px;
}

*/
/*.parallax{
    background: url('/static/edlyne_times/assets/img/bg1.jpg');
    background-size:cover;
    background-attachment:fixed;
    height:500px;
}*//*


.parallax{
    padding:100px 35px;
    background:transparent;
}

.info{
    z-index:2;
    position:relative;
    text-align:center;
}

.footer{
    height: 50px;
    */
/*background-color:#000;*//*

}

.top-nav ul li a{
    text-decoration:none;
}

.top-nav ul{
    justify-content:left;
    display:flex;
    align-items:center;
    margin:0 55px;
    font-size:14px;
}

.top-nav ul li{
    list-style:none;
    margin:0 14px;
}
.nav-right ul li{
    font-family: var(--font1);
    color:#ffffff;
    list-style:none;
    margin:0 14px;
}

.nav-right ul li a{
    text-decoration:none;
}

.nav-right ul{
    display:flex;
    align-items:center;
    margin:0 77px;
    font-size:18px;
}

.content{
    display:flex;
    height:300px;
    background:#ccb487;

}

.nav-left img{
    width:20%;
    height:50px;
}

.content-left{
    width:50%;
    display:flex;
    justify-content:center;
    text-align:center;
    display-items:center;
}

.content-left img{
    width:350px;
    height:250px;
}


.content-right{
    width:50%;
    justify-content:center;
    text-align:center;
}*/

.dm-width {
   width: 350px;
   margin: 0 auto;
}

.iphone-mockup {
   position: relative;
   z-index: 5;
}

.dm-device {
    position: relative;
    width: 100%;
    padding-bottom:203.477897%;
    margin-bottom: 20px;
}

.device {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80%;
    -webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/di5yipnns/image/upload/v1482236588/apple-iphone_aivldo.png);
    background-size: cover;
    background-position: center center;
}

.screen {
   overflow: hidden;
    position: absolute;
    top: 18.1%;
    bottom: 20.6%;
    left: 7.49%;
    right: 18.49%;
}



.slider__item {
    font-size: 100px;
    color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}



.mySlides {
    display:none;
    width:330px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mobile_section {
    padding:25px;
}

.screen-holder img{
    position:relative;
    height: 100%;
    width: 280px;
}
 .screen-wrapper{
    margin: 20px;
    border: 1px solid black;
    width: 220px !important;
    background-size:cover;
    background-attachment:fixed;
    height:400px;
 }
.screen-holder{
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 55px;
        bottom: 0;
        left: 59px;
        right: 0;
        margin: auto;
}


.right_aside_mobile div h4 i{
    padding-right:20px;
}

.right_aside_mobile div{
    margin-top: 20px;
    padding: 15px;
    background: #f8f9fa;
    box-shadow: 0px 3px 3px #88888854;
    border-radius: 10px;

}

.right_aside_mobile p{
    color: #535b62 !important;
    font-family: var(--font1);
    margin-left: 50px;
    padding-top:5px;
    }

#aside_icon2{
    color:orange;
}

#aside_icon3{
    color:#1db79f;
}

#aside_icon1{
    color:red;
}

#aside_icon4{
    color:blue;
}


.social_icons a:not(:first-child){
    padding-left:15px;
}



/*register page*/


.bg-img{
  background: url('/static/edlyne_times/assets/img/rgbg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
/*
  background: rgba(0,0,0,0.7);
*/
}
.content{
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px 0px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
  border-radius:25px;

}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

.alert-danger {
    color: red !important;
    background-color: #ffffff !important;
    border-color: #f5c6cb !important;
}
.error_message{
    color:red !important;
    position:absolute;
    z-index:999;
    width:300px;
    top:30%;
    right:10%;
    text-decoration:none !important;
    list-style:none important;
    font-size:16px !important;
}

.error_message ul li{
    all: unset;
    list-style-type:none important;
 }


.username{
    padding:0px 10px 0 5px;
      text-transform: capitalize;

}












/*hide the inputs/checkmarks and submenu*/
#check01,ul.submenu {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
input:checked~ul.submenu {
  display: block;
  position:absolute;
  top:60%;
  right:5%;
  padding: 10px 15px;
   background: #ffffff;
   box-shadow: 0px 3px 3px #88888854;
   border-top: 2px solid #f49306;
    font-size: 15px;
    font-weight: 700;
}

input:checked~ul.submenu li{
    list-style:none;
}

input:checked~ul.submenu a{
       color: #173966 !important;
}


/*hide the inputs/checkmarks and research submenu*/
#check02,ul.research_submenu {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
input:checked~ul.research_submenu {
  display: block;
  position:absolute;
  top:50%;
  right:45%;
  padding: 15px;
    background: #ffffff;
    box-shadow: 0px 3px 3px #88888854;
    border-radius: 10px;
}

input:checked~ul.research_submenu li{
    list-style:none;
}



/*
dropdown research_submenu
*/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {

    color: #000000;
    font-size: 15px;
    font-weight: 700;
  border: none;
  outline: none;
  padding: 14px 5px 0px 8px;
  background:none !important;
}

.dropdown:hover .dropbtn {
  color: #a4c639;
}

.dropdown-content {
  height: 0;
    overflow: hidden;
    position: fixed;
    background-color: #08080869;
    width: 90%;
    left: 65px;
    z-index: 1;
    box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
    transition: all .5s ease;
    opacity: 1;
    top: 56px;
    border-radius: 10px;
}


.dropdown-content a {
  color: black;
  padding:5px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 36px;
  border-right:1px solid red;
}
.submenu-items {
    margin-left:35px;
}

.dropdown:hover .dropdown-content {
  height: 250px;
  opacity: 1;
  transform: translateY(0);
  padding-bottom: 10px;

}


.last-submenu-item{
    border-right:none !important;

}










.dropdown-content a img {
    width:70%;
    height:100%;
    padding:10px 10px 0px 10px;
    margin-left:0px;

}

.opacity{
   opacity:0.2;
   background:#000000b0 !important;
}


.research-submenu li {
    list-style:none;
}

.submenu-inner-heading {
    color:#ffffff;
    font-size: 16px !important;
    text-decoration: underline;
    padding-top: 15px; !important;
}



.submenu-span{
    text-justify:left;
    color: #222b37 !important;
    font-size: 14px !important;
    line-height: 130 !important%;
    padding-left:15px;

}

.dropdown-content a h6{
    text-decoration:underline;
}



.dropdown:hover{


}








.table {
color:#ffffff;
}

 /*NSE data table*/
.home-nse-gainer-table .nse-table-head{
    background-color:#009900;
    color:#ffffff;
}

.home-nse-loser-table .nse-table-head{
    background-color:#cb0b06 !important;
    color:#ffffff;

}
.home-nse-gainer-table .nse-table-head tr th{
     font-size:16px !important;
     font-weight:400 !important;
     padding:8px 10px !important;
}
.home-nse-loser-table .nse-table-head tr th{
     padding:8px 10px !important;
     font-size:16px !important;
     font-weight:400 !important;
}


.nse-table-head{
    background-color:#ffc107;
}


.nse-table-body tr td{
    font-size:14px !important;
    text-align:left;
    border-bottom: solid 1px #e3e3e3;
}

.ltp {
    font-weight:300;
}

.bullish{
    color:#009900;
}




.home-nse-loser-table tr td:nth-child(3), .home-nse-loser-table tr td:nth-child(4){
    color:red !important;
}

.home-nse-gainer-table tr td:nth-child(3), .home-nse-gainer-table tr td:nth-child(4){
    color:green !important;
}


.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-slider--tabs:after {
  content: "";
  width: 50%;
  background: #345F90;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}

.tab-slider--tabs.slide:after { left: 50%; }

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #345F90;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-slider--trigger.active { color: #fff; }

.tab-slider--body { margin-bottom: 20px; }



#tabs-bar {
    padding:0px 0px;
}
#tabs-bar ul {
    display: block;
    list-style: none;
    float: left;
}
#tabs-bar ul li {
    list-style: none;
    display: block;
    float: left;
    padding-right: 10px;
}
#tabs-nav li a {
    list-style: none;
    display: block;
    padding:10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #a4c639;
    text-align: left;
    border-top:1px solid #ececec;
    border-right:1px solid #ececec;
    border-bottom:1px solid #ececec;
    border-left:1px solid #ececec;
    border-radius: 25px;
    text-decoration: none;
}
#tabs-nav li a.current, #tabs-nav li a:hover {
    border-bottom:0px solid #ececec;
    background: #a4c639;
    color:#ffffff !important;
}
#tabs-content-wrap {
    padding: 0px;
    margin-top: 0px;
}
#tabs-content-wrap ul {
    display: block;
    list-style: none;
}
#tabs-content-wrap ul li {
    width: 100%;
    list-style: none;
    display: block;
    list-style: none;
}
.tab-content {
    border-radius: 2px;
    padding-bottom: 20px;
}
---------------------------------




.demo
{
	padding: 50px 0;
}
.heading-title
{
	margin-bottom: 50px;
}
.pricingTable {
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0 -15px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
    border-radius:20px;
    margin-left:5px;
}

.pricingTable:hover{
    border: 2px solid #e46367;
    margin-top: -20px;
}

.pricingTable .pricingTable-header{
    padding: 30px 10px;
}

.pricingTable .heading{
    display: block;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    font-size:21px;
}

.pricingTable .pricing-plans {
    padding-bottom: 25px;
    border-bottom: 1px solid #d0d0d0;
    color: #000;
    font-weight: 900;
}

.pricingTable .price-value{
    color: #474747;
    display: block;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
    padding: 0 10px;
}

.pricingTable .price-value span{
    font-size: 50px;
}

.pricingTable .subtitle{
    color: #82919f;
    display: block;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 100;
}

.pricingTable .pricingContent ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.pricingTable .pricingContent ul li{
    padding: 20px 0;
}

.pricingTable .pricingContent ul li:nth-child(odd) {
    background-color: #fff;
}

.pricingTable .pricingContent ul li:last-child{
    border-bottom: 1px solid #dbdbdb;
}

.pricingTable .pricingTable-sign-up{
    padding: 25px 0;
}

.pricingTable .btn-block{
    width: 50%;
    margin: 0 auto;
    border:1px solid transparent;
    padding: 10px 5px;
    color:#fff;
    text-transform: capitalize;
    border-radius: 5px;
    transition:0.3s ease;
}

.pricingTable .btn-block:after{
    content: "\f090";
    font-family: 'FontAwesome';
    padding-left: 10px;
    font-size: 15px;
}

/*.pricingTable:hover .btn-block{
    background:#fff;
    color: #e46367;
    border:1px solid #e46367;
}*/

@media screen and (max-width:990px){
    .pricingTable{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:767px){
    .pricingTable{
       margin: 0 0 30px 0;
    }
}@charset "utf-8";
/* CSS Document */

/*---------------------*/

a:hover {
  text-decoration: none;
}

header .header-logo {
  color: #001b4f;
    font-weight: 700;
    font-size: 23px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.header {

  position: fixed;
  top: 0;
  left:0;
  z-index: 1000;
  width:100vw;
  height:10vh;
}

header .main-menu>li {
  position: relative;
}

.inner-menu-container {
    width:100%;
}

header .main-menu>li>a {
  color: #000000;
  font-size: 15px;
  padding: 25px 1.5vw 10px;
  font-weight: 700;
  display: block;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

header .main-menu>li.active>a {
  color: #10bd3b;
}

header .main-menu>li:hover>a {
    color: #a4c639 !important;
    border-bottom: 3px solid #a4c639;
}

header .main-menu>li>a>i {
  color: #03328E;
}

header .main-menu>li>a:hover>i {
  color: #fff;
}

header .main-menu>li:hover>a i {
  color: #fff;
}

header .main-menu .sub-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 180px;
  overflow: hidden;
  border-top: 2px solid #f49306;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  z-index: 5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

header .main-menu .sub-menu a {
  padding: 11px 10px;
  display: block;
  color: #173966;
  font-weight: 600;
  font-size: 15px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

header .main-menu .sub-menu a i {
  color: #03328E;
}

header .main-menu .sub-menu a:hover {
  background: #10bd3b;
  color: #fff;
}

/*header .main-menu>li:hover .sub-menu {
  display: block;
}*/

header .header-logo figure img {
  max-width: 200px;
}

header .demo-link {
  margin-left: 1vw;
}

header .side-menu-close {
  background: transparent;
}

header .side-menu-close span {
  background: #21395F;
  width: 28px;
}

#call-action .call-action {
  color: #001b4f;
  font-weight: 700;
  font-size: 23px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

#call-action .call-action:hover {
  color: #10bd3b;
}

/* side menu */
.side-menu-wrap {
  width: 300px;
  position: fixed;
  left: -100%;
  top: 0;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  overflow-y: auto;
  z-index: 15000;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-wrap.opened {
  left: 0;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}

.side-menu-logo {
  border-bottom: 2px solid #FE8204;
}

.side-menu-nav .main-menu>li {
  position: relative;
  border-bottom: 1px solid #ccc;
}

.side-menu-nav .main-menu>li>a>i {
  color: #03328E;
}

.side-menu-nav .main-menu .sub-menu {
  border-top: 1px solid #FE8204;
  background: #fff;
  display: none;
}

.side-menu-nav .main-menu .sub-menu li {
  border-bottom: 1px solid #eee;
}

.side-menu-nav .main-menu .sub-menu a {
  padding: 10px 22px;
  display: block;
  color: #212529;
  font-weight: 600;
  font-size: .9em;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-nav .main-menu .sub-menu a i {
  color: #03328E;
}

.side-menu-nav .main-menu .sub-menu~i {
  font-size: .8em;
  position: absolute;
  padding: 21px 11px;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}

.side-menu-nav .main-menu .sub-menu a:hover {
  background: #F5F5F5;
}

.side-menu-nav .main-menu>li>a {
  color: #212529;
  padding: 15px 30px 15px 10px;
  font-weight: 600;
  display: block;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-wrap .side-menu-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.side-menu-close {
  height: 40px;
  width: 40px;
  background: #21395F;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.side-menu-close span {
  height: 2px;
  width: 20px;
  background: #fff;
  position: relative;
  opacity: 1;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-close span:nth-child(1) {
  top: -5px;
}

.side-menu-close span:nth-child(3) {
  bottom: -5px;
}

.side-menu-close.closed span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
}

.side-menu-close.closed span:nth-child(2) {
  opacity: 0;
}

.side-menu-close.closed span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
}

/*  custom overlay */
.custom-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 12500;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.custom-overlay.show {
  visibility: visible;
  opacity: 1;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}



/* Fun Facts */

.fun-facts {
	margin-top: 40px;
	background-image: url('/static/edlyne_times/assets/img//fun-facts-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 140px 0px;
	color: #fff;
}

.fun-facts span {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.fun-facts h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
}

.fun-facts em {
	font-style: normal;
	color: #a4c639;
}

.fun-facts p {
	color: #fff;
	margin-bottom: 40px;
}

.fun-facts .left-content {
	margin-right: 45px;
}

.count-area-content {
	text-align: center;
	background-color: rgba(250,250,250,0.1);
	padding: 25px 30px 35px 30px;
	margin: 15px 0px;
}

.count-digit {
    margin: 5px 0px;
    color: #a4c639;
    font-weight: 700;
    font-size: 36px;
}
.count-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}




/* Services */

.services {
	padding-top:40px;
	padding-bottom:30px;
}

.service-item img {
	width: 100%;
	overflow: hidden;
}
.service-item { transition: all .2s ease-in-out; }
.service-item:hover {
      transform: scale(1.06);

}

.service-item .down-content {
	background-color: #f7f7f7;
	padding: 30px;
}

.service-item .down-content h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
}

.service-item .down-content p {
	margin-bottom: 20px;
	font-size: 14px !important;
    color: #666666 !important;
    line-height: 25px !important;
}

.section-heading {
	text-align: center;
	margin-bottom: 80px;
}

.section-heading h2 {
	font-size: 36px;
	font-weight: 600;
	color: #1e1e1e;
}

em {
	font-style: normal;
	color: #a4c639;
}

.section-heading span {
	display: block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
}


a.filled-button {
	background-color: #a4c639;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #fff;
	color: #a4c639;
}



/* testimonial section */
.testimonials {
    background-color: #f7f7f7;
    padding: 140px 0px;}


.testimonial-item .inner-content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width:80%;
    margin:0 auto;
    }
.testimonial-item h4 {
    font-size: 19px;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 0px;

    }


 .testimonial-item span {
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #a4c639;}


.testimonial-item p {
    font-size: 14px;
    font-weight: 400;}


 .testimonial-item img {
    max-width: 60px;
    border-radius: 50%;
    margin: 25px auto 0px auto;}





.carousel-indicators li{
    background-color:#a4c639 !important;
}

/* services page */

.page-heading {
    text-align: center;
    background-image: url('/static/edlyne_times/assets/img/page-heading-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0px 150px 0px;
    color: #fff;

    }

.single-services {
	margin-top: 140px;
}

#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs ul li {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
#tabs ul li:last-child {
  margin-bottom: 0px;
}
#tabs ul li a {
	text-transform: capitalize;
	width: 100%;
	padding: 30px 30px;
	display: inline-block;
	background-color: #a4c639;
  	font-size: 20px;
  	color: #121212;
  	letter-spacing: 0.5px;
  	font-weight: 700;
  	transition: all 0.3s;
}
#tabs ul li a i {
	float: right;
	margin-top: 5px;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #fff;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
	margin-left: 30px;
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}
.tabs-content img {
	max-width: 100%;
	overflow: hidden;
}
.tabs-content h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
	margin-top: 30px;
}
.tabs-content p {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 0px;
}

/* Banner Style */

.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left;
  padding: 0;
}

.Modern-Slider .item .img-fill {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:81vh;
}

.Modern-Slider .item-1 .img-fill {
	background-image: url('/static/edlyne_times/assets/images/slide_01.jpg');
}

.Modern-Slider .item-2 .img-fill {
	background-image: url('/static/edlyne_times/assets/images/slide_02.jpg');
}

.Modern-Slider .item-3 .img-fill {
	background-image: url('/static/edlyne_times/assets/images/slide_03.jpg');
}

.Modern-Slider .NextArrow{
  position:absolute;
  top:50%;
  right:30px;
  border:0 none;
  background-color: transparent;
  text-align:center;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  cursor: pointer;
}

.Modern-Slider .NextArrow:before{
  content:'\f105';
}

.Modern-Slider .PrevArrow {
  position:absolute;
  top:50%;
  left:30px;
  border:0 none;
  background-color: transparent;
  text-align:center;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  cursor: pointer;
}

.Modern-Slider .PrevArrow:before{
  content:'\f104';
}

ul.slick-dots {
  display: none!important;
}

.Modern-Slider .text-content {
	text-align: left;
  	width: 75%;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.Modern-Slider .item h6 {
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color:#a4c639;
  animation:fadeOutRight 1s both;
}

.Modern-Slider .item h4 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color:#FFF;
  overflow:hidden;
  animation:fadeOutLeft 1s both;
}

.Modern-Slider .item p {
	max-width: 570px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 40px;
}

.Modern-Slider .item a {
  margin: 0 5px;
}

.Modern-Slider .item.slick-active h6{
  animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h4{
  animation:fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider .buttons {
  position: relative;
}

.Modern-Slider {background:#000;}


/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}



.table-container {
    width:100%; height:105vh;
    position:relative;
    display:inline-block;
    margin: 0;
}
.vid {
    position: absolute;
    top: 0; left:0;
    width: 100%; height: 100%;
    z-index: -1;
}
.first_content_wrapper {
    position:absolute;
    top:0; left:0;
    color:white;
    width:100%;
}

.table-container span{
   /* display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;*/
}